In [3]:
from transformers import pipeline
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
import torch
from datasets import load_dataset 
from datasets import DatasetInfo
import pandas as pd

ImportError: cannot import name 'pipeline' from 'transformers' (unknown location)

In [ ]:
#Load dataset
train1 = pd.read_parquet("data/train-00000-of-00003.parquet")
train2 = pd.read_parquet("data/train-00001-of-00003.parquet")
train3 = pd.read_parquet("data/train-00002-of-00003.parquet")

In [ ]:
# Merge the 3 dataframes into one
train = pd.concat([train1, train2, train3])
train

,article,highlights,id
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets £20M f...,42c027e4ff9730fbb3de84c1af0d2c506e41c3e4
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...,ee8871b15c50d0db17b0179a6d2beab35065f1e9
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa...",06352019a19ae31e527f37f7571c6dd7f0c5da37
3,WASHINGTON (CNN) -- Doctors removed five small...,"Five small polyps found during procedure; ""non...",24521a2abb2e1f5e34e6824e0f9e56904a2b0e88
4,(CNN) -- The National Football League has ind...,"NEW: NFL chief, Atlanta Falcons owner critical...",7fe70cc8b12fab2d0a258fababf7d9c6b5e1262a
...,...,...,...
95699,"The nine-year-old daughter of a black, unarmed...","Rumain Brisbon, 34, was killed after Phoenix p...",279a12d3ee37b8109cc192a9e88115a5a631fb06
95700,Legalising assisted suicide is a slippery slop...,"Theo Boer, a European assisted suicide watchdo...",b5bc9d404a9a5d890c9fc26550b67e6d8d83241f
95701,A group calling itself 'The Women of the 99 Pe...,Ohio congressman criticised for 'condoning the...,500862586f925e406f8b662934e1a71bbee32463
95702,Most men enjoy a good pint of lager or real al...,The Black Country Ale Tairsters have been to 1...,32a1f9e5c37a938c0c0bca1a1559247b9c4334b2
95703,A Facebook page seeking to preserve the 'Black...,Facebook page supporting tradition gains one m...,8ec9ff4d633dd4cc26d53f503c33f7464b43c36e

In [ ]:
# Load the model
checkpoint = "facebook/bart-large-cnn"
tokenizer = AutoTokenizer.from_pretrained(checkpoint, cache_dir="model/")
model = AutoModelForSeq2SeqLM.from_pretrained(checkpoint, cache_dir="model/")

In [ ]:
from transformers import pipeline
summarizer = pipeline("summarization", model="facebook/bart-large-cnn")
#D
ARTICLE = """ 
Soccer player Jordan Henderson has announced that he is returning to Europe to join Ajax, six months after making a controversial move to Saudi Arabia.

On Thursday, the England international said that he is leaving Saudi Pro League (SPL) club Al-Ettifaq “with immediate effect,” adding: “It wasn’t an easy decision but one that I feel is best for me and my family.”

Ajax, currently fifth in the Dutch Eredivisie, also confirmed the transfer on Thursday, posting photos and videos of Henderson’s arrival on the club’s social media pages.

“I still want to perform at a high level on the pitch and that’s the most important thing. I’ve got to come and perform and try and help the team become successful,” the 33-year-old said in a video on X, formerly Twitter.

A statement from Al-Ettifaq described the decision to terminate Henderson’s contract as “amicable,” while club president Samer Al Misehal said that the “quick decision, without any delay or further distraction, has been made for both the overall good of the club and for Jordan.”


"""
print(summarizer(ARTICLE, max_length=130, min_length=30, do_sample=False))

[{'summary_text': 'Jordan Henderson announces he is leaving Saudi Pro League club Al-Ettifaq. The 33-year-old will join Dutch Eredivisie side Ajax on a free transfer. Henderson made a controversial move to Saudi Arabia six months ago.'}]